{% extends "admin/admin_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<p class="important">

{% if session['email'] %}

    <center>
<div class="container">
    <div class="panel panel-info">


    <!--stat-->

        <div class="panel-heading">USER SURVEY</div>
            <div class="panel-body panel-resizable">


            <table class="table table-bordered">
                <thead>
                    <tr>
                        <b><th width="10%">TITLE</th></b>
                        <b> <th width="10%">EMAIL ID</th></b>
                        <b><th width="12%">USER ID</th></b>
                        <b><th width="15%">CREATION TIME</th></b>
                        <b><th  colspan="4" width="53%">Responses</th></b>
                    </tr>
                </thead>

                {% for survey in surveys %}

                <tbody>
                    <tr>
                        <td>{{ survey.title }}</td>
                        <td>{{ survey.session_id }}</td>
                        <td>{{ survey._id }}</td>
                        <td>{{ survey.TimeStamp }}</td>
                        <td>{{ survey.ques_id1 }}</td>
                        <td>{{ survey.ques_id2 }}</td>
                        <td>{{ survey.ques_id3 }}</td>
                        <td>{{ survey.ques_id4 }}</td>
                    </tr>
                </tbody>

                {% endfor %}
            </table>
    </center>



{% else %}

        <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('admin') }}">here</a></p>

        {% include 'admin/session.html' %}

    {% endif %}
</div></div></div>
</p>

{% endblock %}
