{% extends "admin/admin_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

<style>
    table {
        border: 2px solid white;
        border-collapse: collapse;
        width:100%;}

    table td {
        border: 1px solid white;}

    table td.shrink {
        white-space:nowrap;}

    table td.expand {
        width: 100%;}
</style>

{% endblock %}
{% block content %} 

<p class="important">
    {% if session['email'] %}
    <center>
<div class="container">
    <div class="panel panel-info">


    <!--stat-->

        <div class="panel-heading">USER SURVEY</div>
            <div class="panel-body panel-resizable">


            <table class="table table-bordered">
            <!--<table>-->
                <thead>
                    <tr>
                        <th width="18.6%">User Id</th>
                        <th width="18.8%">Survey Id</th>
                        <th width="10%">Survey</th>
                        <th width="9%">Time Stamp</th>
                        <th width="14%">Session Id</th>
                        <th colspan="32">Responses</a></th>
                    </tr>
                </thead>
                    {% for response in responses %}
                <tbody>
                    <tr>
                        <td width="17%"><get_responses?id={{ response._id }}">{{ response._id}}</td>
                        <td width="17%"><get_responses?id={{ response._id }}">{{ response.survey_id}}</td>
                        <td width="11%"><get_responses?id={{ response._id }}">{{ response.title}}</td>
                        <td width="11%"><get_responses?id={{ response._id }}">{{ response.timeStamp}}</td>
                        <td width="12%"><get_responses?id={{ response._id }}">{{ response.Session_email}}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description1 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description2 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description3 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description4 }}</td>
                    </tr>
                </tbody>

                {% endfor %}
            </table>
        </center>

{% else %}

        <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('admin') }}">here</a></p>

        {% include 'admin/session.html' %}

    {% endif %}
    </div>    </div>    </div>
</p>

{% endblock %}
