    <div class="container">
        <center>
        <div class="panel panel-info">
            <div class="panel-heading">Sign into your account</div>
                <div class="panel-body panel-resizable">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                            alt="">

                        <form class="form-signin"  action="/admin/admin_login" method="post">
                            <input type="email" class="form-control" placeholder="Email" name="email" required autofocus >
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <label class="checkbox pull-left">
                                <input type="checkbox" value="remember-me">Remember me
                            </label>
                            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                        </form>
                    </div>
                </div>
            </div>
            </center>
    </div>
