{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<p class="important">
    {% if session['name'] %}
<center>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">SELECT SURVEY TO FILL YOUR RESPONSE</div>
            <div class="panel-body panel-resizable">
                <br><br><br><br>

                <form action="/user/search_survey" method="post">
                    <input type="text" id="myInput" name="survey" style="text-align: center;" placeholder="Search for survey names.." required="">
                    <br>
                    <button type="submit" class="btn btn-defalt">Search</button>
                </form><br><br>

                <table id="myTable">
                <thead >
                    <tr>
                        <b>LIST OF SURVEY</b>
                    </tr>
                </thead><br>

        {% for survey in surveys %}

                    <tbody>
                        <tr>
                            <td  style="text-align: center;"><a href="/user/create_response?id={{ survey._id }}">{{ survey.title }}</a></td>
                        </tr>
                    </tbody>

        {% endfor %}
                    </table>


        {% else %}

        <p style="color: red"> You still didn't set your Email, do it
        <a href="{{ url_for('signin') }}">here</a></p>

{% include 'user/session.html' %}
{% endif %}

            </div>
        </div>
    </div>
</center>

</p>

{% endblock %}
