{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<p class="important">


<div class="container">
    <center>
        <div class="panel panel-info">
            <div class="panel-heading">Forgot Password</div>
                <div class="panel-body panel-resizable">
                    <div class="account-wall"></br></br>
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                alt="">

                        <form class="form-signin" action="/user/reset_password" method="post">
                            <p style="color:gray; text-align: center;">{{ email }}</p>
                    <input type="hidden" class="form-control" placeholder="email" style="text-align: center"  name="email" value="{{ email }}">
                    <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                        title="At least one number, one lowercase and one uppercase letterand at least six characters e.g. aA1qwe"
                           placeholder="Reset Your Password" style="text-align: center"  name="password" required autofocus ><br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit <i class="material-icons right">send</i></button>
                        </form>
                     </div>

                </div>
        </div>
    </center>
</div>


</p>
{% endblock %}

