{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}


<p class="important">

        <center>
    <div class="container">
        <center>
        <div class="panel panel-info">
            <div class="panel-heading">saved !</div>
                <div class="panel-body panel-resizable">
            <br><br><br><br><br><br><br><br><br><br>

            <h4>Survey Saved</h4><br>

            <br><br><br><br><br><br><br><br><br><br>


    </div></div></div></center>
</p>

{% endblock %}
