    <div class="container">
        <center>
        <div class="panel panel-info">
            <div class="panel-heading">Sign into your account</div>
                <div class="panel-body panel-resizable">
                    <div class="account-wall">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                alt="">

                        <form class="form-signin"  action="/user/login" method="post">
                        <input type="email" class="form-control" style="text-align: center"  placeholder="Email" name="email" required autofocus >
                        <input type="password" class="form-control" style="text-align: center"  placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                        title="At least one number, one lowercase and one uppercase letterand at least six characters e.g. aA1qwe"
                                        name="password" required>

                        <button class="btn waves-effect waves-light" type="submit" name="action">Signin <i class="material-icons right">send</i></button>


                        <a href="/user/forgot" class="pull-right need-help">Forgot Password </a><span class="clearfix"></span>
                        </form>
                        </div>
                </div>
            </div>
            </center>
    </div>
