{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}
<style>
    table {
    border: 2px solid white;
    border-collapse: collapse;
    width:100%;
    height:100%;
}

table th,td {
    border: 1px solid white;
}

table td.shrink {
    white-space:nowrap
}
table tr,th,td.expand {
    width: 100%
}

</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table_style.css') }}">


{% endblock %}
{% block content %}

<p class="important">
{% if session['name'] %}

   <center>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">RESULT OF SELECTED SURVEY</div>
            <div class="panel-body panel-resizable"></br></br></br></br>


            <form action="/user/search_email" method="post">
                <input type="text" id="myInput" name="email" style="text-align: center;" placeholder="Search for Email_id.." required="">
                {% for response in responses %}
                <input type="hidden" name="id" value="{{ response.survey_id}}">
                {% endfor %}
                <br><button type="submit" class="btn btn-defalt">Search</button></br></br>
            </form><br><br>

            <table class="table table-bordered">
            <!--<table >-->
                <thead>
                    <tr>
                        <th width="10%">Survey Title</th>
                        <th width="12%">Time Stamp</th>
                        <th width="14%">Email ID</th>
                        <th  colspan="6" width="64%">Responses</th>
                    </tr>
                </thead>

                {% for response in responses %}
                <tbody>
                    <tr>
                        <td width="10%"><get_responses?id={{ response._id }}">{{ response.title }}</td>
                        <td width="12%"><get_responses?id={{ response._id }}">{{ response.timeStamp}}</td>
                        <td width="14%"><get_responses?id={{ response._id }}">{{ response.Session_email}}</td>
                        <!--<td width="12%"><get_responses?id={{ response._id }}">{{ response.survey_id}}</td>-->
                        <td width="16%">
                            <a href="{{ response.pdf }}" target="_blank">
                                <get_responses?id={{ response._id }}">{{ response.pdf }}</td>
                        <td width="16%">
                           <a href="{{ response.img }}" target="_blank">
                               <get_responses?id={{ response._id }}">{{ response.img }}</td>


                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description1 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description2 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description3 }}</td>
                        <td width="8%"><get_responses?id={{ response._id }}">{{ response.ques_description4 }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>




            {% else %}


<p style="color: red"> You still didn't set your Email, do it
    <a href="{{ url_for('signin') }}">here</a></p>

{% include 'user/session.html' %}
{% endif %}
            </div>
        </div>
    </div>
</center>

</p>

{% endblock %}
