{% extends "user/user_base.html" %}
{% block title %}Work Page{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}


<p class="important">
    <div class="container">
        <center>
        <div class="panel panel-info">
            <div class="panel-heading">Sign up for your account</div>
                <div class="panel-body panel-resizable">
                    <div class="account-wall">
                        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                alt="">

                            <form class="form-signin" action="/user/add_user" method="post">

                                <input type="text" class="form-control" placeholder="Username" style="text-align: center"   name="user" pattern="[a-z]{2,15}"
                                       title="Username should only contain lowercase letters and minimum 2 letters. e.g. john" required autofocus >

                                <input type="text" class="form-control" placeholder="Contact" style="text-align: center"  name="contact" pattern="[7,8,9][0-9]{9}"
                                       title="Contact should only contain start with 7,8,9. e.g. 8045261520" required autofocus >

                                <input type="email" class="form-control" placeholder="Email" style="text-align: center" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                       title="e.g. abc@gmail.com" name="email" required autofocus >

                                <input type="password" class="form-control" placeholder="Password" style="text-align: center" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                        title="At least one number, one lowercase and one uppercase letterand at least six characters e.g. aA1qwe" name="password" required >

                                <p style="color:gray;">For security perpose:</p>
                                <select name="question" class="form-control" required="" required autofocus>
                                    <option value="">Choose your Security Question</option>
                                    <option value="what is your name">what is your name</option>
                                    <option value="what is your nick name">what is your nick name</option>
                                    <option value="what is your first teacher">what is your first teacher</option>
                                    <option value="Choose your Security Question">Choose your Security Question</option>
                                </select>

                                <input type="text" class="form-control" placeholder="Security Question Answer" style="text-align: center"  pattern="[a-z]{2,15}"
                                       title="Username should only contain lowercase letters and minimum 2 letters. e.g. john" name="answer" required autofocus ><br>

                                <button class="btn waves-effect waves-light" type="submit" name="action">Signup <i class="material-icons right">send</i></button>


                                <a href="/user" class="pull-right need-help">Signin</a><span class="clearfix"></span>
                            </form>
                        </div>

            </div>
        </div>
    </center>
    </div>
</p>
{% endblock %}

